/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lobster');

mat-toolbar {
    justify-content: center;
}
.toolbar-text {
    font-size: 40px;
    font-family: 'Lobster';
    text-align: center;
    margin: 0;
    line-height: 10vh;
    color: aliceblue;
}
body {
    margin: 0;
}
.container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.property-list-card {
    margin-top: 30px;
    height: 100%;
    width: 100%;
    border-right: 5px solid dodgerblue;
    overflow: auto;
}
.property-list-card-head {
    text-align: center;
    margin: 0;
}

.property-detail-card {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}